* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: linear-gradient(to right, #F1D8C9, #F2C3A7);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
}

p {
    text-align: justify;
}

h1 {
    text-align: center;
    color: rgb(2, 2, 100);
}

h2 {
    background-color: red;
    color: goldenrod;
}