body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgrey;
}

header {
    height: 100%;
    width: 100%;
    background-color: lightgreen;
    margin: auto;
    padding: 16px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

nav {
    text-align: center;
    background-color: lightgray;
    box-shadow: 1px 1px 1px black;
}

#assuntos{
    border: 1px solid black;
    text-align: justify;
    margin: 100px 0px;
    padding: 16px;
    border-radius: 10px;
}

#assuntos h2 {
    text-align: center;
}

#notícias {
    border: 1px solid black;
    text-align: justify;
    margin: 100px 0px;
    padding: 16px;
    border-radius: 10px;
}

#notícias h2 {
    text-align: center;
}

footer {
    text-align: center;
}

/*#bola {
    height: 100px;
    width: 100px;
    margin: 10px;
    background-color: white;
    border-radius: 50%;
}*/